/*.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,


{
	background-color: #ccc;
	color: #333;
	border:1px solid #333;
	box-sizing: border-box;
}
*/
.navbar {
	margin-bottom: 3px !important;
}

#brand {
	color: grey;
	display: inline;
	padding-top: 5px;
	padding-right: 15px;
	font-size: 25px;
}

#brand a {
	color: grey;
	text-decoration: none;
}

.username {
	color: grey;
	text-align: right;
	margin: 0px;
	padding-top: 10px;
}

#genre {
	padding-top: 10px;
}

#genre a{ 
	color: grey;
}

#thumbnail {
	padding: 2px;
}

#family_pricing, #bridal_pricing, #senior_pricing, #vacation_pricing {
	text-align: center;
	background-color: grey;
	color: white;
}

#jquery {
	background-color: grey;
	color: white;
}

#photobrand{
	position: absolute;
	text-align: center;
	top: 40%;
	/* left: 36%; */
	border-style: solid;
	border-color: white;
	border-width: 8px;
	padding: 0px, 20px, 0px, 20px;
}

#photobrandFront{
	position: absolute;
	text-align: center;
	top: 40%;
	/* left: 36%; */
	padding: 0px, 20px, 0px, 20px;
}

#photobrand a {
	color: white;
	padding: 2px;
	padding-left: 2px;
	padding-right: 2px;
	margin: 0;
}

#photobrand h1 {
	color: white;
	padding-left: 20px;
	padding-right: 20px;
	margin: 0;
	font-size: 48px;
}

#jumbopic {
	padding: 0px !important;
	position: relative;
}

#testimonials {
	font-size: 20px;
	color: grey;
	margin-top: 10px;
}

#nameInfo {
	background-color: grey;
	color: white;
}

#nameInfo p{
	padding-left: 20px;
	padding-right: 0px;
	font-weight: bold;
	font-size: 19px;
	line-height: 45px;
}

#nameInfo h3, #nameInfo h4{
	padding-left: 20px;
	padding-right: 0px;
	font-weight: bold;
}

#pricingInfo {
	background-color: #E5E5E5;
}

#picInfo {
	padding: 0px;
	margin: 0px;
}

#firstImpression {
	display: flex;
}

#flyer {
	padding: 0px;
	margin: 0px;
}

.btn:hover{
	background-color: grey
}

.btn{
	background-color: #fafafa

}

#pricingRow, #pricingCancel {
	display: inline;
}

#pricingCancel {
	padding-right: 25px;
	cursor: pointer; cursor: hand;
}

